.reportsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; /* 상위 div의 높이를 설정해야 중앙 정렬이 가능합니다 */
}

.reportsHeader {
    width: 100%;
    height: 58px;
    border-bottom: 1px solid #C1C1C1;
    font-size: 24px;
    font-weight: bold;
    color: #88CFBA;
    line-height: 58px;
    text-indent: 20px;
    align-self: flex-start;
}

.reportsDiv {
    width: 50%; 
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-top: auto; 
    margin-bottom: 40%;
    margin-left: auto;
    margin-right: auto;
}