.sidebarDiv {
    width: 327px;
    height: 1125px;
    border-right: 1px solid #C1C1C1;
    border-bottom: 1px solid #C1C1C1;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.sideHeader {
    height: 58px;
    border-bottom: 1px solid #C1C1C1;
}

.sideHeader>span {
    font-size: 24px;
    font-weight: bold;
    color: #88CFBA;
    line-height: 58px;
    margin-left: 45px;
}

.buttons {
    background-color: #88CFBA;
    border: none;
    color: white;
    width: 227px;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 13px;
    margin-top: 7px;
    cursor: pointer;
}

.buttons:hover {
    background-color: #73b8a3;
}

.dropDownButtons {
    display: flex;
    background-color: white;
    border: none;
    line-height: 50px;
    font-size: 20px;
    font-weight: 500;
    color: #88CFBA;
    margin-top: 5px;
    width: 252px;
    height: 50px;
    cursor: pointer;
}

.dropDownButtons:hover {
    background-color: #73b8a3;
    color: white;
}

.dropDownButtons>img {
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 11px;
}

.dropDownArrow {
    transition: transform 0.05s ease-in-out;
}

.dropDownMenus {
    color: #88CFBA;
    font-size: 16px;
}

.dropDownMenus p:hover {
    background-color: #73b8a3;
    color: white;
}

.dropDownMenus p {
    display: block;
    line-height: 40px;
    width: 100%;
    margin: 0;
    cursor: pointer;
}
