.loginDiv {
    margin: 10% auto;
    width: 350px;
}

.loginDiv>img {
    display: block;
    margin: 0 auto 10%;
    width: 350px;
}

.loginForm {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.loginForm>input {
    width: 350px;
    height: 40px;
    font-size: 25px;
    text-indent: 10px;
    border: 1px solid #C1C1C1;
    border-radius: 10px;
}

.loginForm>button {
    margin-bottom: 1%;
    width: 359px;
    height: 45px;
    background-color: #00CAA6;
    border: none;
    color: white;
    font-size: 25px;
    padding: 0;
    border-radius: 10px;
}

.loginForm>button:hover {
    cursor: pointer;
}
