.hrmHeader {
    width: 100%;
    height: 58px;
    border-bottom: 1px solid #C1C1C1;
    font-size: 24px;
    font-weight: bold;
    color: #88CFBA;
    line-height: 58px;
    padding-left: 20px;
  }

  .attDiv {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    
  }
  .allArea {
    width: 100%;
  }


  .attendanceDiv {
    width: 100%;
}

.attendanceHeader {
    width: 100%;
    height: 58px;
    border-bottom: 1px solid #C1C1C1;
    font-size: 24px;
    font-weight: bold;
    color: #88CFBA;
    line-height: 58px;
    padding-left: 20px;
}

.contentHead th {
    font-weight: normal;
    font-size: 16px;
    height: 58px;
    line-height: 32px;
    text-align: start;
    border-bottom: 1px solid #88CFBA;
}

.pagingBtn {
    margin: 5px;
    border-radius: 5px;
    background-color: #00CAA6;
    font-weight: bold;
    border: none;
    color: white;
    width: 30px;
    height: 30px;
}



.boxWrapper >.box> table >tbody >tr > td> button {
    box-sizing: border-box;
    width: 93px;
    height: 50px;
    margin-left: 4spx;
    border-radius: 5px;
    border: none;
    background-color: #88CFBA;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.boxContainer {
    width: 90%;
    margin-top: 5%;
    margin-left: 7%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
  }

.boxContainer2 {
    width: 80%;
    margin-top: 5%;
    margin-left: 10%;
    display: flex;
    justify-content: space-between; 
    
  }  

.box {
    margin-left: 0%;
    padding: 0px;
    width: 80%;
    height: 200px;
    /* border: 1px solid black;  */
    border: 1px solid #C1C1C1;
    border-radius: 10px;
} 

.box table {
    margin-top: 7%;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}


.box td {
     width: 25%;
     height: 50%;
     text-align: center;
     vertical-align: middle;
  
}

.box th {
    margin-top: 10px;
    width: 25%;
    height: 50%; 
    text-align: center;
    vertical-align: middle;
}

.boxWrapper {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.boxWrapper2 {
    margin-top: 30px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: left;
}
.boxWrapper3 {
    margin-top: 30px;
    width: 66%;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.boxWrapper > span {
    position: relative;
    top: -8px; /* 상단에서의 위치 조절 */
    left: 8px; /* 좌측에서의 위치 조절 */
    font-size: 22px;
    font-weight: bold;
    
}

.Box2 {
    width: 96%;
    height: 425px;
    border: 1px solid #C1C1C1;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.responsiveImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* border: 1px solid blue; */
}

.img {
    width: 240px;
    height: 240px;
    overflow: hidden;
    /* border: 1px solid black; */
    border-radius: 100%;
    margin: 0 auto;
    margin-top: 30px;
    align-items: center;
}

.Box3 {
    width: 94%;
    height: 430px;
    border: 1px solid #C1C1C1;
    padding: 10px;
    border-radius: 10px;
}

.boxWrapper2 > .Box2 > div > button{
    margin-left: 10px;
    box-sizing: border-box;
    width: 93px;
    height: 50px;
    margin-left: 4px;
    border-radius: 5px;
    border: none;
    background-color: #88CFBA;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.VacationButton{
    margin-top: 34%;
    display: block;
    margin-left: 10px;
    box-sizing: border-box;
    width: 93px;
    height: 50px;
    margin-left: 4px;
    border-radius: 5px;
    border: none;
    background-color: #88CFBA;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.inOutButton {
 display: flex;
        justify-content: center
}
