.surveyRegistDiv {
    /* float: left; */
    width: 100%;
}

.header {
    width: 100%;
    height: 58px;
    border-bottom: 1px solid #C1C1C1;
    font-size: 24px;
    font-weight: bold;
    color: #88CFBA;
    line-height: 58px;
    text-indent: 20px;
}

.tableDiv {
    height: 700px;
    border-bottom: 1px solid #C1C1C1;
    overflow: scroll;
}

.contentTable {
    width: 100%;
    border-collapse : collapse;
    margin-top: 20px;
    font-size: 20px;
}

.contentTable td:first-child {
    width: 200px;
    text-indent: 20px;
}

.contentTable td:nth-child(2) {
    width: 300px;
}

.contentTable td {
    height: 40px;
}

.contentTable input:not(.datePicker) {
    width: 400px;
    box-sizing: border-box;
    height: 30px;
    font-size: 20px;
}

.contentTable select {
    width: 100px;
    box-sizing: border-box;
    height: 30px;
    font-size: 20px;
}

.addButtons {
    background-color: #88CFBA;
    height: 30px;
    box-sizing: border-box;
    border: none;
    color: white;
    font-size: 16px;
    width: 120px;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 10px;
}

.addButtons:hover {
    background-color: #397060;
}

.datePickerDiv {
    display: flex;
    align-items: center;
}

.datePickerDiv>span {
    margin-left: 10px;
    margin-right: 10px;
}

.datePicker {
    width: 130px;
    box-sizing: border-box;
    height: 30px;
    font-size: 20px;
    text-align: center;
}

.questionTr {
    position: relative;
}

.choiceTr {
    position: relative;
}

.choiceTr td:first-child {
    text-indent: 30px;
}

.QXButtons {
    position: absolute;
    background-color: transparent;
    font-weight: bold;
    left: 375px;
    top: 9px;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.CXButtons {
    position: absolute;
    background-color: transparent;
    font-weight: bold;
    border: none;
    left: 577px;
    top: 9px;
    cursor: pointer;
    font-size: 20px;
}

.autoBtns {
    background-color: #88CFBA;
    box-sizing: border-box;
    border: none;
    color: white;
    font-size: 16px;
    width: 60px;
    height: 30px;
    margin-left: 10px;
    margin-right: 5px;
    border-radius: 10px;
}

.buttonDiv {
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
}

.buttonDiv button {
    background-color: #88CFBA;
    height: 35px;
    box-sizing: border-box;
    border: none;
    color: white;
    font-size: 16px;
    width: 120px;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 10px;
}
