.sidebarDiv {
    background-color: #88CFBA;
    width: 75px;
    height: 1125px;
    float: left;
}

.sidebarDiv a {
    display: block;
    width: 75px;
    height: 75px;
}

.sidebarDiv img {
    margin: 0 auto;
}
