.sidebarDiv {
    background-color: #88CFBA;
    width: 75px;
    height: 1125px;
    border-bottom: 1px solid #C1C1C1;
}

.sidebarDiv a {
    display: block;
    width: 75px;
    height: 75px;
}

.sidebarDiv a {
    display: block;
    width: 75px;
    height: 75px;
}

.sidebarDiv img {
    margin: 0 auto;
}
